body {
    background-color: #222; color: #ccc; font-family: Arial; font-size: 16px; margin: 30px;    
}
ul {
    list-style-type: none;
}
li a {
    color: #ccc;
}
.parrafo1::first-letter {
    font-size: 32px;
}
.Fuente:hover {
    color: orange;
    text-decoration: overline;
}
.Fuente {
    color: green;
    text-decoration: overline;
}
.Fuente:visited {
    color: pink;
}